@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --violet: #674baf;
  --softMagenta: #e882e8;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.5em;
  color: white;
  background: var(--violet);
  background-image: url("images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (orientation: landscape) {
  body {
    background-size: cover;
  }
}

h1 {
  line-height: 1.5em;
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
}

.main-container {
  margin: 2em 2em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}

/* Logo style */

.logo {
  width: 100%;
  padding-bottom: 3em;
}

.logo > img {
  width: 10em;
}

/* Mockup style */

.mockup {
  width: 100%;
  padding-bottom: 3em;
}

.mockup > img {
  width: 100%;
}

/* Text style */

.text-wrapper {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 3em;
}

.text-wrapper > h1 {
  padding-bottom: 1.5em;
}

.text-wrapper > p {
  padding-bottom: 1em;
  width: 95%;
}

.text-wrapper > button {
  background: white;
  border-radius: 2em;
  border: none;
  padding: 0.2em;
  height: 3em;
  width: 14em;
  color: var(--violet);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.text-wrapper > button:active {
  background: var(--softMagenta);
}

/* Links style */

.links-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
}

.links-wrapper > a {
  display: flex;
  justify-content: center;
  margin: 0 0.5em;
  padding: 0.5em;
  width: 1em;
  height: 1em;
  border: solid #fff 0.1em;
  border-radius: 50%;
}

a > img {
  filter: invert(1);
}

/* Attribution style */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--softMagenta);
}

/* Desktop style */

@media screen and (min-width: 1024px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    padding: 2em;
  }

  .main-container {
    margin: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    height: 100%;
  }

  .logo {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .logo > img {
    width: 12em;
  }

  .mockup {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .text-wrapper {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0 0 2.5em 2.5em;
    text-align: left;
    align-items: flex-start;
  }

  .text-wrapper > h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .text-wrapper > p {
    width: 100%;
    font-size: 1.1em;
  }

  .text-wrapper > p {
    width: 100%;
    font-size: 1.1em;
  }

  .links-wrapper {
    grid-area: 3 / 2 / span 1 / span1;
    justify-content: flex-end;
  }

  footer {
    grid-area: 4 / 1 / span 2 / span1;
  }
}
